
@{
    ViewData["Title"] = "AddNewVideo";
    Layout = "~/Views/Shared/_LayoutDasbord.cshtml";
}

@await Html.PartialAsync("_PartialAddVideo")

<button onclick="sweat()"> swaet</button>

<script>
        function sweat(){
        let setting={
            text:"ddd",
            title:"erwer"
        }
       SweatAlterProcessing(setting);
    }
</script>

