@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDasbord.cshtml";
}

<form asp-action="upload" asp-controller="Test" method="post" enctype="multipart/form-data">
    <input name="Video" type="file" class="form-control" />
    <button type="submit" class="btn btn-outline-info">Save</button>
</form>
