@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var requestCulture = HttpContextAccessor.HttpContext.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.Culture.Name;

    var cultures = new Dictionary<string, string>
    {
        { "en", "English" },
        { "ar", "العربية" }
    };
}

<form id="lang-form" method="post" asp-controller="Home" asp-action="SetLanguage" class="form-inline">
    <select name="culture" onchange="document.getElementById('lang-form').submit();" class="form-select btn-getstarted text-center">
        @foreach (var culture in cultures)
        {
            var isSelected = currentCulture != null && currentCulture.StartsWith(culture.Key);

            <option value="@culture.Key" selected="@(isSelected ? "selected" : null)">
                @culture.Value
            </option>
        }
    </select>
    <input type="hidden" name="returnUrl" value="@HttpContextAccessor.HttpContext.Request.Path" />
</form>
