@page
@model ConfirmEmailModel
@using Microsoft.Extensions.Localization
@using TrandingSystem.Controllers
@inject IStringLocalizer<VideosController> Localizer
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (Model.Status==200)
{
    <div class="row mb-2 mt-2 d-flex justify-content-center">
        <div class="col-10 mt-4 ">
            <div class="alert alert-success text-center" role="alert">
                @Model.StatusMessage
            </div>
        </div>
        <div class="col-6 mt-2 text-center">
            <img src="~/assets/img/confirmed-cuate.png" style="width:100%" />
        </div>
    </div>
}

else
{
    <div class="row mb-2 mt-2 d-flex justify-content-center">
        <div class="col-10 mt-4 ">
            <div class="alert alert-danger text-center" role="alert">
                @Model.StatusMessage
            </div>
        </div>
        <div class="col-6 mt-2 text-center">
            <img src="~/assets/img/401 error unauthorized-pana.png" style="width:100%"/>
        </div>
    </div>
    
}


